<div class="container">

  <div class="starter-template">
    <h1>Wait and Eat</h1>
    <p class="lead">The smart restaurant waiting list.</p>
    <a href="#/register" class="btn btn-primary btn-lg " role="button">Get Started</a>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Ditch the clipboard</h2>
      <p>Use our app to manage your waitlist</p>
    </div>
    <div class="col-md-4">
      <h2>Get your voice back</h2>
      <p>No need to scream</p>
    </div>
    <div class="col-md-4">
      <h2>Customers will love you</h2>
      <p>They will now know when the table is ready by sms</p>
    </div>
  </div>

</div>